Package: canary-horizon
Section: extra
Version: VERSION
Architecture: all
Recommends: openstack-dashboard
Depends: python-canary (= VERSION)
Maintainer: Gridcentric Inc. <support@gridcentric.com>
Description: Canary OpenStack monitoring service.
